.form-container {

  height: 100vh;
}

.title-contact {
  text-align: center;
  padding-top: 120px;
  font-weight: 200;
  font-size: 2.5rem;
}
form {
  padding-top: 30px;
  display: grid;
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  margin: 0 auto;
}

input, textarea {
  margin: 10px 0;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

input[type="submit"] {
  color: $orange;
  border: 1px solid $orange;
}

input[type="submit"]:hover {
  background-color: $orange;
  color: white;
}

textarea {
  resize: none;
  height: 100px;
}

.form-message {
  font-size: 1rem;
  color: seagreen;
  text-align: center;
  margin-bottom: 20px;
}
